@import "../../styles/variables.scss";

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

  .details {
    display: flex;

    &__image {
      width: 680px;
      height: 680px;
      background-color: #f4f4f4;
      border-radius: 0.25rem;
      margin-block: 1rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-block: 1rem 2rem;
    }

    &__condition {
      font-size: 0.9rem;
    }

    &__button {
      background-color: $primaryColor;
      width: 100%;
      border-radius: 0.5rem;
      padding: 1rem;
      color: white;
      font-size: 1.2rem;
      cursor: not-allowed;
      margin-block-start: 4rem;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
    align-content: flex-start;

    &__title {
      font-size: 2rem;
      font-weight: 600;
      margin-block: 2rem;
    }

    &__text {
      margin-block: 1rem;
      font-weight: 400;

      > * {
        line-height: 1.5;
      }

      > ul {
        list-style: disc;
        margin-inline-start: 1.5rem;
      }
    }
  }
}
