@import "../styles/variables.scss";

.body {
  display: flex;
  background-color: $backgroundColor;
  width: 100vw;

  &__container {
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    &__main {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: white;
      border-radius: 0.25rem;
      min-height: calc(100vh - 5em);
    }
  }
}
